<div id="game-page">

  <div style="position: absolute; bottom: 0; right: 0;">
      <div id="players" style="display: inline-block;">
      </div>
      <div id="my-messenger" class="player" style="bottom: 10px;">
          <div style="margin: 2px;">
              <label for="message-input"></label>
              <input style="width: 100%; height: 20px;" id="message-input" placeholder="Say Something...">
          </div>
      </div>
  </div>

</div>
