<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongoose Intro</title>
  </head>
  <body>

    <form class="" action="/users" method="post">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="age" placeholder="age">
      <input type="submit" name="" value="Submit">
    </form>
    <% if(typeof(errors) != 'undefined' ) { %>
      <% for (var x in errors) { %>
        <p>test</p>
        <h3><%= errors[x].messages %></h3>
      <% } %>
    <% } %>
  </body>
</html>
